/* Global Styling */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');




h1, h2, h3 {
    font-family: 'Open Sans Condensed', sans-serif;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #E5E5E5;
    line-height: 1.5;
}

nav {
    background-color: #242F40 !important;
}
nav li a{
    color: white !important;
}
.navbar-brand {
    font-size: 3.2em;
    color: #CCA43B !important;
    font-family: 'Permanent Marker', cursive;
}
.jumbotron {
    background-color: #CCA43B;
}

.item-listing-label {
    float: left;
    margin-left: 5px;
}

.item-listing-buttons {
    float: right;
    margin-top: 12px;
    margin-right: 15px;
}

.cat-label {
    padding-left: 10px;
}

.cat-select {
    padding-left: 15px;
    padding-top: 6px;
}

#cat-label-xs, #cat-label-sm {
    text-align: left;
}

#product-image-show {
    width: 100%;
}

/*xs*/
@media screen and (max-width: 767px) {
    .item-listing-label {
        margin-left: 20px;
    }

    .xs-item-listing {
        margin: 30px auto;
    }
}

/*sm*/
@media screen and (min-width: 768px) {
    .item-listing-label {
        margin-left: 20px;
    }

    .xs-item-listing {
        margin: 30px auto;
    }
}

/*md*/
@media screen and (min-width: 992px) {
    .item-listing-label {
        float: left;
        margin-left: 5px;
    }

    .item-listing-buttons {
        float: right;
        margin-top: 12px;
        margin-right: 15px;
    }

    .cat-select {
        padding-left: 10px;
    }
}

/*lg*/
@media screen and (min-width: 1200px) {
    .item-listing-label {
        float: left;
        margin-left: 5px;
    }

    .item-listing-buttons {
        float: right;
        margin-top: 12px;
        margin-right: 15px;
    }
}





/* Carousel Styling */
.carousel-inner > .item > img {
    margin: 0 auto;
}