.item-listing-label {
    float: left;
    margin-left: 5px;
}

.item-listing-buttons {
    float: right;
    margin-top: 12px;
    margin-right: 15px;
}

.cat-label {
    padding-left: 10px;
}

.cat-select {
    padding-left: 15px;
    padding-top: 6px;
}

#cat-label-xs, #cat-label-sm {
    text-align: left;
}

/*xs*/
@media screen and (max-width: 767px) {
    .item-listing-label {
        margin-left: 20px;
    }

    .xs-item-listing {
        margin: 30px auto;
    }
}

/*sm*/
@media screen and (min-width: 768px) {
    .item-listing-label {
        margin-left: 20px;
    }

    .xs-item-listing {
        margin: 30px auto;
    }
}

/*md*/
@media screen and (min-width: 992px) {
    .item-listing-label {
        float: left;
        margin-left: 5px;
    }

    .item-listing-buttons {
        float: right;
        margin-top: 12px;
        margin-right: 15px;
    }

    .cat-select {
        padding-left: 10px;
    }
}

/*lg*/
@media screen and (min-width: 1200px) {
    .item-listing-label {
        float: left;
        margin-left: 5px;
    }

    .item-listing-buttons {
        float: right;
        margin-top: 12px;
        margin-right: 15px;
    }
}